<title>Market Place Review</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="https://use.typekit.net/tms7fjm.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.typekit.net/ggt4lqm.css">

<style>
    html {
        font-family: "source-sans-pro";
        font-weight: 400;
        font-style: normal;
    }
    h1,h2,h3,h4,h5 {
        color:#031b4e;
    }
    body * {
        font-family: "source-sans-pro";
        font-weight: 400;
        font-style: normal;
    }
    body {
        background-color:#FAFAFA;
        padding:0px!important;
    }
    .main-image {
        width:50%
       
    }
    .review-title {
        font-size:20px;
        font-weight:700;
        font-style:italic;
    }
    .product-title {
        font-size:18px;
        font-weight:700;
    }
    .review-text {
        font-size:14px;
        line-height:1.5em;
    }
    .submitButton {
        padding:10px;
        background-color:#0085CA;
        width:75px;
        text-align:center;
        color:#fff;
    }
    .submitButton:hover {
        background-color:#000;
    }
    .form {
        background-color:#fff;
        padding:20px!important;
        margin-bottom:30px;
    }
    .form input{
        padding-bottom:10px;
    }

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
    .desc {
        overflow-y:auto;
    }
    
    .section-1 {
    
    }
    .container-main {
           background-image: url("https://s3.amazonaws.com/jonas-personal-portfolio/background-02.png");
         background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
        background-color:#fafafa;
        height:100vh;
        width:100vw;
        margin:0px!important;
        overflow-x:hidden;
    }
    
    .row {
        padding:75px;
    }
    @media all and (max-width: 500px)  {
        h1.main-h1 {
            font-size:24px;
        
        }
    }
    @media only screen and (min-width: 600px)  {
        .query-form {
            background-color:#fff;
            padding:25px;
            border-radius:5px;
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            max-width:350px;
            margin-left:75px;
        }
        .entry {
            height:auto;
            background-color:#fff;
            margin-bottom:25px;
            border-radius:5px;
            padding:50px;
            margin:10px;
        }
    }
    .upload-photo {
        display:none;
    }
    
    .form-control {
        height:50px;
  
    }
    
    .btn {
        height:50px;
        line-height:37.5px;
        font-weight:700;
        font-size:18px;
    }
    .main-h1 {
        line-height:1.5;
        font-weight:700;
        font-size:42px;
        padding-left:0px;
    }
    
    .tutorial {
        font-size:10px;
        font-style:italic;
    }
</style>
